.hidden {
  display: none;
}


[datim-modal] {
  box-sizing: border-box;
  outline: none !important;
  position: relative; 
  top: 25%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  max-width: 700px; 
  max-height: 600px;
}



/* dialog::backdrop, */
.datim-dialog-backdrop {
  display: none;
  position: fixed;
  overflow-y: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
}

@media screen and (min-width: 640px) {
  .datim-dialog-backdrop {
    background: rgb(0 0 0 / 30%);
  }
}

.datim-dialog-backdrop.active {
  display: block;
}

.no-scroll {
  overflow-y: auto !important;
}

/* this is added to the body when a dialog is open */
.has-dialog {
  overflow: hidden;
}

/* Fix to make modal show correctly on screens with a smaller width than 600px */
/* @media(max-width:600px){
  [datim-modal] {
    height: 100%;
    width: 100%;
    top: 0 !important;
    left: 0 !important;
    transform: none !important;
  }
} */