/* The Modal (background) */
.datim-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Header */
.datim-modal-header {
    padding: 2px 16px;
    background-color: #49572a;
    color: white;
    overflow: hidden;
    position: relative;
}

/* Modal Body */
.datim-modal-body {
    padding: 2px 16px;
}

/* Modal Footer */
.datim-modal-footer {
    padding: 2px 16px;
    background-color: #fefefe;
    border-top: 1px solid #e5e5e5;;
}

/* Modal Content */
.datim-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    font-family: Verdana,Arial,sans-serif;
}

.datim-modal-title {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

/* Add Animation */
@keyframes animatetop {
from {top: -300px; opacity: 0}
to {top: 0; opacity: 1}
} 

/* The Close Button */
.datim-modal .close {
    color: #aaa;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: 10px;
    font-size: 28px;
    font-weight: bold;
}

.datim-modal .close:hover,
.datim-modal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

/********************** W3 Styling **********************/

.hidden {
  display: none;
}


[datim-modal] {
  box-sizing: border-box;
  min-height: 100vh;
}

@media screen and (min-width: 640px) {
  [datim-modal] {
    position: absolute;
    top: 2rem;
    left: 50vw; /* move to the middle of the screen (assumes relative parent is the body/viewport) */
    transform: translateX(
      -50%
    ); /* move backwards 50% of this element's width */

    min-width: calc(640px - (15px * 2)); /* == breakpoint - left+right margin */
    min-height: auto;
  }
}

.dialog_label {
  text-align: center;
}

.dialog_form {
  margin: 15px;
}

.dialog_form .label_text {
  box-sizing: border-box;
  padding-right: 0.5em;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  width: 30%;
  text-align: right;
}

.dialog_form .label_info {
  box-sizing: border-box;
  padding-right: 0.5em;
  font-size: 12px;
  width: 30%;
  text-align: right;
  display: inline-block;
}

.dialog_form_item {
  margin: 10px 0;
  font-size: 0;
}

.dialog_form_item .wide_input {
  box-sizing: border-box;
  max-width: 70%;
  width: 27em;
}

.dialog_form_item .city_input {
  box-sizing: border-box;
  max-width: 70%;
  width: 17em;
}

.dialog_form_item .state_input {
  box-sizing: border-box;
  max-width: 70%;
  width: 15em;
}

.dialog_form_item .zip_input {
  box-sizing: border-box;
  max-width: 70%;
  width: 9em;
}

.dialog_form_actions {
  text-align: right;
  padding: 0 20px 20px;
}

.dialog_close_button {
  float: right;
  position: absolute;
  top: 10px;
  left: 92%;
  height: 25px;
}

.dialog_close_button img {
  border: 0;
}

.dialog_desc {
  padding: 10px 20px;
}

/* native <dialog> element uses the ::backdrop pseudo-element */

/* dialog::backdrop, */
.datim-dialog-backdrop {
  display: none;
  position: fixed;
  overflow-y: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
}

@media screen and (min-width: 640px) {
  .datim-dialog-backdrop {
    background: rgb(0 0 0 / 30%);
  }
}

.datim-dialog-backdrop.active {
  display: block;
}

.no-scroll {
  overflow-y: auto !important;
}

/* this is added to the body when a dialog is open */
.has-dialog {
  overflow: hidden;
}
